################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hackathon-Group-23/v17/DocumentLayout.json
/.vs
